﻿name: build
defaults:
  run:
    working-directory: src/WateryTart.MusicAssistant

on:
  workflow_dispatch: {}
  release:
    types: [published]
# Ensure the runner can upload release assets
permissions:
  id-token: write
  contents: write

jobs:
  generate-version:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '10.0.x' ]

    steps:
      - name: Set Version Variable
        if: ${{ github.ref_type == 'tag' }}
        env:
          TAG: ${{ github.ref_name }}
        run: echo "VERSION=${TAG#v}" >> $GITHUB_ENV

      # Build project
      - uses: actions/checkout@v6
      - name: Setup .NET 10.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.x'
          cache: true
          cache-dependency-path: './src/WateryTart.MusicAssistant/packages.lock.json'
          
      - name: Install dependencies
        run: dotnet restore
      - run: dotnet build  --configuration Release /p:Version=$VERSION
      
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: WateryTart.MusicAssistant
          path: src/WateryTart.MusicAssistant/bin/Release/
          
      # Get a short-lived NuGet API key
      - name: NuGet login (OIDC → temp API key)
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}
    
      # Push the package
      - name: NuGet push
        if: github.ref_type == 'tag' && startsWith(github.ref, 'refs/tags/v')
        run: dotnet nuget push artifacts/WateryTart.MusicAssistant.nupkg --api-key ${{steps.login.outputs.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
